Remove misleading "Precondition Failed (412)" HTTP Status from 

As defined in RFC 7232 section 4.2 the http status 412 indicates that a precondition for a request failed
and that the requested operation could not be executed which only makes sense for non safe requests.

The bug in here is that this is checked after the fact so Flow would still perform the operation but the standard compliance component would add a precondition failed header and thus not prevent the in flight collision but make the problem harder to understand.

This change removes the code for the 412 status from the standard compliance helper. If any application would want to use the status it should evaluate the precondition headers and throw an exception with 412 status if needed.